body {
    background-color: rgb(184, 174, 255);
}
h1{
    color: rgb(63, 51, 96); 
    font-style:italic ;
}
.amarelo{
    width:55%;
}
.azul{
    width:55%;
}
.roxo{
    width:55%;
}
.branco{
    width:55%;
}
.preto{
    width:55%;
}
.vermelho{
    width:55%;
}
.bege{
    width:55%;
}
.verde{
    width:55%;
}